:root {
	--bg-color: #ffffff;
	--text-color: #121212;
}

[data-theme='dark'] {
	--bg-color: #121212;
	--text-color: #ffffff;
}

body {
	transition: background-color 0.3s;
	background-color: var(--bg-color);
}

.container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}
